/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

*.class

# Package Files #
*.jar
*.war
*.ear

# Log files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/backend/src/main/resources/public/
/backend/target
/frontend/.DS_Store
/frontend/dist/
/frontend/node/
/frontend/node_modules/
/frontend/target
/frontend/test-output
/security/target/